[Unit]
Description=Atlassian Confluence Server Service
After=syslog.target network.target

[Service]
Type=forking
PrivateTmp={{ confluence_private_tmp }}
User={{ confluence_user }}
ExecStart={{ confluence_home_path }}/{{ confluence_pkg }}/bin/start-confluence.sh
ExecStop={{ confluence_home_path }}/{{ confluence_pkg }}/bin/stop-confluence.sh

[Install]
WantedBy=multi-user.target
