{{ confluence_logs_path }}/*.log {
  {{ confluence_logrotate.interval | default('daily') }}
  rotate {{ confluence_logrotate.retention | default('30') }}
  copytruncate
  delaycompress
  notifempty
  missingok
  su {{ confluence_user }} {{ confluence_group }}
}